.info_wrap {
        display: flex;
        align-items: start;
        justify-content: center;
        padding-top: 5%;

    .news{
        padding-top: 5px;
        display: flex;
        flex-wrap: wrap;
        border-radius: 10px;
        box-shadow: 3px 3px 8px 0px #00000033;
        @include adaptiv-height(457);
        @include adaptiv-font(22, 6);
        width: 80%;
        justify-content: center;
        margin: 2% 0    ;
    }

    .col1
    {
        width: 50%;
    }
    .col23
    {
        display: flex;
        justify-content: space-between;
        @include adaptiv-height(971);
        @include adaptiv-font(16, 5);
    }

    .profile_info__title{
        font-weight: bold;
    }
    
    .imgnews{
        width: 89%;

    }

    .textnews{
        width: 79%;

    }

    .ad{
        
        img
        {
            @include adaptiv-height(392);

        }
      
    }

    .profile_info__title{
        display: flex;
        justify-content: space-between;
    }

    .time{
        
		border-radius: 15px;
        box-shadow: 3px 3px 8px 0px #00000033;
		
        width: 90%;
        margin: 2% 0;
       
    }
}
