@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import '../../../styles/mixins/mixin.scss';

.myInput {
    border-radius: 10px;
    width: 90%;
    @include adaptiv-height(55);
    margin: 1% 2% 3% 2%;
    padding: 2%;
    background-color:#E9E9E9B2;
    border: 0px;
    @include adaptiv-font(25, 6);
    font-family: 'Montserrat';
    font-weight: 500;
    outline:none;
}

.myInput:focus
{
    border: 3px solid gray;
}